$sansFontFamily: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$linkColor: #424242;
$backgroundColor: #121212;
$footerHeight: 30px;

@import "compass_twitter_bootstrap";
@import "_fancybox.css";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

html,
body {
  height: 100%;
  background-color: $backgroundColor;
}

body{
  min-width: 1000px;
}

.main{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto (-$footerHeight);
}

header{
  padding: 15px;
  margin-bottom: -20px;
  padding-left: 230px;
  h1{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 60px;
  }

}

.controls{
  a:hover{
    text-decoration: none;
  }
  position: absolute;
}

nav {
  position: relative;
  margin-top:-40px;
  background-image: url(/images/45degreee_fabric.png);
  z-index: 10;
  background-color: #E3E3E3;
  width: 200px;
  height: 610px;
  -moz-box-shadow: 2px 0px 20px #000;
  -webkit-box-shadow: 2px 0px 20px #000;
  box-shadow: 3px 0px 15px #000;
  ul{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 10px;
    text-transform:uppercase;
    font-size: 30px;

    li{
      a{
        color: #A2A2A2;
      }
      .active{
        color: $linkColorHover;
      }
      text-shadow:
         0 -1px 0 rgba(0, 0, 0, 0.8), /* shadow */
         0 1px 0 rgba(255, 255, 255, 0.5); /* highlight */
      margin-top: 30px;
    }
  }
}

.curldown,
.curlup{
  position: relative;
  background-color: #575757;
  height:40px;
  width:200px;
  margin-left:12px;
}

$curlAngle: 30deg;

.curlup{
  margin-top:-40px;
  -moz-transform: skew(-$curlAngle);
  -o-transform: skew(-$curlAngle);
  -webkit-transform: skew(-$curlAngle);
  -ms-transform: skew(-$curlAngle);
}

.curldown{
  -moz-transform: skew($curlAngle);
  -o-transform: skew($curlAngle);
  -webkit-transform: skew($curlAngle);
  -ms-transform: skew($curlAngle);
}

.strip{
  position: relative;
  top:25px;
  width: 100%;
  height:560px;
  background-color: #E3E3E3;
  outline: 1px solid #ddd;
  border-top: 1px solid #fff;
}

#about{
  white-space:normal;
  width: 900px;
  .about-text{
    margin-left: 20px;
    width: 400px;
    display: inline-block;
  }
  img{
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
  }
  overflow-x: auto;
}

#gallery{
  overflow-x: auto;
  white-space:nowrap;
  margin-top: 10px;
  margin-left: 200px;
  img, iframe{
    height:520px;
    background-color: white;
    margin: 0px 5px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

#push,
footer {
  height: $footerHeight;
}

footer {
  text-align: center;
  // background-color: #f5f5f5;
}
